
body{
    background-color: LightSeaGreen;
}

.ms_font_size{
    font-size: 50px;
    color: black;
}

.ms_box_number{
    background: darkgreen;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms_box_fizz{
    background-color: DarkSlateBlue;
    color: white;
}

.ms_box_buzz{
    background-color: DarkSeaGreen;
    color: white;
}

.ms_box_buzz_fizz{
    background-color: Teal;
    color: white;
}