
.ms_font_size{
    font-size: 50px;
}

.ms_box_number{
    background: darkgreen;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}